* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.charactersContainer {
  display: flex;
  flex-direction: column;
}
.singleCharacter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tvIcon {
  width: 40px;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.hidden {
  display: none;
}
.tvIcon:hover + .hidden {
  display: block;
}
