* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.charactersContainer {
  display: flex;
  flex-direction: column;
}
.singleCharacter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tvIcon {
  width: 40px;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.hidden {
  display: none;
}
.star {
  cursor: pointer;
}
.star::after {
  content: url("./assets/emptyStar.png");
}
.filled::after {
  content: url("./assets/filledStar.png");
}
.favoritesContainer .star::after {
  content: url("./assets/filledStar.png");
}
.vissible {
  display: block;
}
.tvIcon:hover + .hidden {
  display: block;
}
.mostPopularCharacters {
  display: flex;
}
.popularCharacter div {
  display: flex;
  justify-content: space-between;
}
