* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  background-color: rgb(207, 206, 206);
  font-size: 0.5rem;
  line-height: 1.5rem;
  display: flex;
  gap: 20px;
  align-items: cenetr;
}
header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  cursor: pointer;
}
.mostPopularCharactersContainer {
  background-color: rgb(207, 206, 206);
  margin: 20px 0 50px 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mostPopularCharactersContainer h1 {
  text-align: center;
}
.mostPopularCharacters {
  display: flex;
  gap: 20px;
  margin: 10px 0 -20px 0;
}
.popularCharacter {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0px 10px gray;
  overflow: hidden;
  transition: 1s;
}
.popularCharacter:hover {
  scale: 1.1;
}
.popularCharacter img {
  min-width: 150px;
  min-height: 150px;
}
.characterDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 5px 10px;
}

.popularData {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popularData div {
  display: flex;
  justify-content: space-between;
}

.searchSection {
  background-color: rgb(207, 206, 206);
  height: auto;
  padding: 50px 0;
}
.searchSectionContainer {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  margin: 0 5% 0 5%;
  padding: 20px 20px;
  border-radius: 15px;
}
.searchSectionContainer img {
  width: 30%;
  height: auto;
  margin-right: 40px;
  border-radius: 15px;
}
.searchSectionContent p {
  font-size: 0.7rem;
}
.searchSectionContent h1 {
  font-size: 1.8rem;
  margin: 15px 0;
  width: 70%;
}
.form input {
  padding: 5px;
  width: 70%;
}

.container {
  background-color: rgb(207, 206, 206);
  display: flex;
  padding-bottom: 50px;
}

.charactersListContainer,
.favoritesCharacterContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 0 5% 0 5%;
  width: 50%;
  padding: 20px;
}
.favoritesCharacterContainer {
  min-height: 100%;
}
.characterListHeadings,
.singleCharacter {
  margin: 10px 0;
  font-size: 0.8rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
}
.singleCharacter {
  font-weight: 400;
}
.singleCharacter:hover {
  font-weight: 700;
}
.characterListHeadings p:nth-child(1),
.characterImgContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}
.characterListHeadings p:nth-child(2),
.nameContainer {
  grid-column: 2/3;
  grid-row: 1/2;
}
.characterListHeadings p:nth-child(4),
.count {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
}
.characterListHeadings p:nth-child(5),
.starsContainer {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: center;
}
.singleCharacter {
  margin: 10px 0;
}
.characterImgContainer {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.characterImgContainer img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.nameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.tvIcon {
  width: 20px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 0.6rem;
  position: absolute;
  top: -30px;
  right: 0px;
}
.hidden {
  display: none;
}
.tvIcon:hover + .hidden {
  display: block;
}
.star {
  cursor: pointer;
  transition: ease-in-out;
}
.star:hover {
  transform: scale(1.2) rotate(180deg);
}
.star::after {
  content: url("./assets/emptyStar.png");
}
.filled::after {
  content: url("./assets/filledStar.png");
}
.favoritesContainer .star::after {
  content: url("./assets/filledStar.png");
}
.vissible {
  display: block;
}
footer {
  padding: 50px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 15px;
}

@media (max-width: 900px) {
  .container {
    padding: 0 5% 50px 5%;
    gap: 5%;
  }
  .charactersListContainer,
  .favoritesCharacterContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0;
    width: 50%;
    padding: 20px;
  }
}

@media (max-width: 750px) {
  .characterImgContainer {
    width: 40px;
    height: 40px;
  }
  .characterImgContainer img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .searchSectionContainer img {
    width: 150px;
    height: auto;
  }
  .searchSectionContent h1,
  .form input {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .mostPopularCharactersContainer {
    padding: 0;
  }
  .mostPopularCharactersContainer h1,
  .searchSectionContent h1 {
    font-size: 1.5rem;
  }
  .mostPopularCharacters {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }

  .popularCharacter:hover {
    scale: 0.8;
  }
  .popularCharacter {
    scale: 0.8;
    margin-bottom: -40px;
  }
  .searchSectionContainer img {
    display: none;
  }
  .container {
    flex-direction: column;
  }
  .charactersListContainer,
  .favoritesCharacterContainer {
    width: 100%;
  }
  footer {
    width: 90%;
    text-align: center;
    flex-wrap: wrap;
  }
}
